.error-handler-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.mumbai-001-1-icon {
  height: 444.3px;
  width: 768.4px;
  position: relative;
  max-width: 100%;
}
.lorem-ipsum-dolor1,
.mumbai1 {
  position: relative;
  letter-spacing: 0.02em;
}
.mumbai1 {
  margin: 0;
  font-size: inherit;
  line-height: 152px;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
}
.lorem-ipsum-dolor1 {
  align-self: stretch;
  font-size: var(--p1-size);
  line-height: 150%;
  text-align: justify;
}
.mumbai-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.read-more3 {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 128px;
}
.frame-icon {
  height: 38px;
  width: 38px;
  position: relative;
}
.read-more-parent1 {
  width: 212px;
  height: 68px;
  border-radius: var(--br-31xl);
  background-color: var(--complementary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-mini)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-2xs);
  white-space: nowrap;
  text-align: center;
  font-size: var(--p1-size);
  color: var(--white);
}
.frame-parent7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  min-width: 512px;
  max-width: 100%;
}
.mumbai {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 2;
  font-size: var(--font-size-82xl);
  color: var(--body-color);
  font-family: var(--p1);
}
.frame-parent6,
.variable-manager {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent6 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-81xl);
}
.variable-manager {
  width: 1619.4px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-mid) var(--padding-72xl-5);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h3-size);
  color: var(--white);
  font-family: var(--p1-bold);
}
@media screen and (max-width: 1350px) {
  .mumbai-001-1-icon {
    flex: 1;
  }
  .mumbai {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .mumbai1 {
    font-size: var(--font-size-31xl);
    line-height: 91px;
  }
  .frame-parent7 {
    min-width: 100%;
  }
  .frame-parent6 {
    gap: 50px 100px;
  }
  .variable-manager {
    padding-bottom: var(--padding-40xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .mumbai1 {
    font-size: var(--font-size-11xl);
    line-height: 61px;
  }
  .lorem-ipsum-dolor1 {
    font-size: var(--font-size-mid);
    line-height: 25px;
  }
  .frame-parent7 {
    gap: 20px 40px;
  }
  .frame-parent6 {
    gap: 25px 100px;
  }
}
